.locationDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
   /* vertical-align: middle;*/
   justify-content: center;
}
.locationButton{
    background-color: black;
    font-size: 20px;
   padding: 3px 3px;
   margin-left: 5px;
  /* vertical-align: middle;*/
text-align: center;
   color: white;
    border-radius: 10px;
 align-items: center;
 cursor: pointer;
       /*justify-content: center;*/
}
.locationButton:hover{
        box-shadow: 0px 0px 20px black;
        opacity: 0.6;
}
.locationButton:active{
    opacity: 1;
    background-color: rgb(49, 11, 152);
}
.locationIcon{
    width: 17px;
    margin-top: 1.3px;
    border-radius: 15px;
}
.locationCap1{
    justify-content: center;
    margin-top: 5px;
    font-size: 10px;
}
.location1{
    margin-left: 3px;
}
.cap1{
    margin-left: 6px;
    margin-right: 6px;
}
.forms3{
    margin-bottom: 0px;
}
.forms2{
    background: linear-gradient(90deg,#0fa744 0%,#0eae46 25%,#0b9039 50%,#0b943b 75%);
   /* display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    justify-content: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
   padding-top: 120px;
   padding-bottom: 50px;
    width: 100%;

}
.head2{
    color: white;
    margin: 0px;
}


.gridContainer{
    display: flex;
flex-direction: row;
padding-left: 50px;
margin-top: 20px;


}
.searchBoxOut{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex: 1fr 32px;
    border-radius: 5px;
margin-top: 2px;    
}
.searchBox{
    /**/
    font-size: 20px;
    padding: 5px; 
   margin: 0px;
   border: none;
}
.searchBox:focus{
outline: none;
border: none;
}